*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    width: 60%;
    margin: auto;
}

.flex{
    display: flex;
}

img{
    max-width: 100%;
}

.btn{
    padding: 10px;
    border: none;
    border-radius: 15px;
}

a{
    text-decoration: none;
}

/*---Header---*/

#app-header{
    background-color: #3161e0;
}

/*Top-header*/

#app-header .top-header{
    
    padding-top: 5px;
    
    justify-content: space-between;
}

.logo img {
    height: 20px;
}

.menu{
    display: inline-block;
}

.menu>a{
    color: #d3ddf8;
    font-size: 12px;
    margin: 5px;
}

.sign-in{
    background-color: white;
    color: black;
    font-size: 10px;
}

/*Main*/

/*---Top-Main---*/

.top-main{

    position: relative;

}

.banner{
    width: 500px;
    
    color: #ffffff;
    text-align: center;

    margin: 35px 0;

    position: absolute;
    top: 100px;
    left: 400px;
}

.text-banner{
    margin: 25px;

    font-size: 12px;
    line-height: 18px
}

.download>a{
    
    color: black;
    padding: 12px 20px;
}

.open{
    background-color: #23272a;
    margin-left: 20px;
}

.open>a{
    color: white;
    padding: 12px 20px;
    
}

/*---Bottom-Main---*/

section{
    height: 20rem;
    padding: 2rem;
    
}

.image-section{
    background-color: blue;
    
    height: 250px;
    width: 60%;
}

.text-section{
    background-color: pink;
    
    height: 250px;
    width: 40%;
}

.special{
    background-color: lightgray;
}

.box{
    height: 40rem;
}

.box>.container{
    height: 36rem;
    background-color: green;
}

/*Footer*/

#app-footer{
    background-color: #23272a;
    height: 25rem;
    padding: 1rem; 
    
    padding-left: 28px;
    padding-right: 28px;
}

.section-footer:first-child{
    width: 400px;
    background-color: pink;
    
}

.section-footer{
    width: calc(100% / 4 );
    height: 18rem;
    
    background-color: lightblue;
    border: 1px solid black;
}

hr{
    margin: 20px 0;
}

.bottom-footer{
    height: 2.5rem;
    border: 1px solid black;
    padding: 5px;

    justify-content: space-between;
}