*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
    width: 60%;
    margin: auto;
}

.flex{
    display: flex;
}

img{
    max-width: 100%;
}

.btn{
    padding: 10px;
    border: none;
    border-radius: 15px;
}

a{
    text-decoration: none;
}

.wave{
    fill: #f6f6f6;
    opacity: 3.5%;
}

.wave-bottom{
    transform: rotate(180deg);
    fill: #f6f6f6;
    opacity: 3.5%;
}


/*---Header---*/

#app-header{
    background-color: #3161e0;
}

/*Top-header*/

#app-header .top-header{
    padding-top: 5px;
    
    justify-content: space-between;
}

.logo img {
    height: 20px;
}

.menu{
    display: inline-block;
}

.menu>a{
    color: #d3ddf8;
    font-size: 12px;
    margin: 5px;
}

.sign-in{
    background-color: white;
    color: black;
    font-size: 10px;
}

/*Main*/

/*---Top-Main---*/

.top-main{

    position: relative;

}

.banner{
    width: 500px;
    
    color: #ffffff;
    text-align: center;

    margin: 35px 0;

    position: absolute;
    top: 100px;
    left: 400px;
}

.text-banner{
    margin: 25px;

    font-size: 12px;
    line-height: 18px;
}

.download>a{

    color: black;
    padding: 12px 20px;
}

.open{
    background-color: #23272a;
    margin-left: 20px;
}

.open>a{
    color: white;
    padding: 12px 20px;
    
}

/*---Bottom-Main---*/

section{
    padding: 3rem 0;
}

.image-section{
    width: 60%;
}

.text-section{
  
    width: 40%;
    line-height: 2rem;
}

.text-section h2{
    padding: 2rem 0 1rem 7rem;
}

.text-section h6{
    padding-left: 7rem;
    font-size: 12px;
    line-height: 20px; 
}

.special{
    background-color: #f6f6f6;
    margin-top: -4px;
}

.text-box{ 
    padding: 2rem 7rem;
    text-align: center;
    line-height: 1rem;
}

.text-box>h2{
    margin-bottom: 1rem;
}

.ready{
    text-align: center;
}

.ready>.download{
    background-color: #8ea1e1;
    text-align: center;
    margin-top: 1rem;
}

/*Footer*/

#app-footer{
    background-color: #23272a;
    padding: 1rem; 
    
    padding-left: 28px;
    padding-right: 28px;
}

.section-footer:first-child{
    width: 40%;
}

.section-footer h3,h5{
    color:#7086d5;
    margin-bottom: 10px;
   
}

.section-footer img,span{
    width: 1rem;
    font-size: 10px;
    color: white;
}

.social-bar>a{
   color: white;
   margin: 3px;
}

.section-footer{
    width: calc(100% / 4 );
    padding: 2rem 1rem;
}

ul{
    list-style-type: none;
}

li>a{
    color: white;
    font-size: 10px;
    line-height: 20px;
}

hr{
    margin: 20px 0;
    
    border: 0;
    height: 2px;
    background: #2e3544;
    
}

.bottom-footer{
    justify-content: space-between;
}

.registrati{
    background-color: #8ea1e1;
}

.registrati a{
    color: white;
    font-size: 10px;
}